.hack-headline{
   right: 0px;
   margin-right: 0px !important;
   padding-right: 33vw;
   max-width: 80%;
}

@media screen and (max-width: 600px){
   .hack-headline{
      padding-right:5vw;
   }
}

.intro-image {
   height: 95vh;
   max-width: 100%;
   width: 100%;
}