.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 25px;
   background-color: #f5f5f5;
}


.thick-characters{
   font-size: 2.5rem;
   font-weight: 700 !important;
   color: white;
}

.margin-auto{
   margin: auto;
}
.center-text{
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.header-image{
   height: 100%;
   position: relative;
   width: '100%';
   background: url('https://i.imgur.com/KVg0kyA.jpg');
   background-position: 100% 100%;
   background-size: cover;
   opacity: 0.9;
}

.margin-25{
   margin: 100px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
